body {
    font-family: Georgia, "Times New Roman", Times, serif; /* Define a fonte para todo o corpo */
    background-color: #c0e2d4; /* Cor de fundo da página */
    padding: 0; /* Remove o padding da página */
  }

