
/* Seções de Conteúdo */

.paragrafo {
    padding: 20px;
    max-width: 1350px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.paragrafo h1, .paragrafo h2 {
    color: #444;
}

.paragrafo p {
    color: #666;
    line-height: 1.6;
}

/* tentativa de arrumar o texto e imagem*/
.paragrafom {
    padding: 20px;
    max-width: 1350px; /* Largura máxima da seção */
    margin: 20px auto;
    background-color: #fff; /* Cor de fundo branca */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    display: flex; /* Define o layout flexível */
    align-items: top; /* Alinha os itens verticalmente */
}

/* Estilo para o título (h1) e o parágrafo (p) */
.paragrafom h1, .paragrafom p {
    color: #444; /* Cor do título */
    text-align: center;
}

/* Estilo para o parágrafo */
.paragrafom p {
    color: #666; /* Cor do texto */
    line-height: 1.6; /* Espaçamento entre linhas */
    margin-right: 3px; /* Adiciona 3px de distância do texto para a imagem */
    text-align: justify;
    padding: 20px 30px;
}

/* Estilo da imagem */
.imagem {
    width: 50%; /* A imagem ocupa 50% da largura da área disponível */
    height: auto; /* Ajusta a altura proporcionalmente */
    border-radius: 20px; /* Bordas arredondadas na imagem */
    padding-left: 15px; /* Adiciona um pouco de espaço à esquerda da imagem */
}

